<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jochichessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Pareo5"></activity>
        <activity android:name=".Pareo4" />
        <activity android:name=".Pareo3" />
        <activity android:name=".ResFinal" />
        <activity android:name=".Pareo2" />
        <activity android:name=".TornRobin2" />
        <activity android:name=".Ejercicios_ventaja" />
        <activity android:name=".Ejercicios_mates3" />
        <activity android:name=".Ejercicios_mates2" />
        <activity android:name=".Ejercicios_mates1" />
        <activity android:name=".Ventaja_des" />
        <activity android:name=".Mates3_menu" />
        <activity android:name=".Mates2_menu" />
        <activity android:name=".Mates1_menu" />
        <activity android:name=".Pareo1" />
        <activity android:name=".TornRondas2" />
        <activity android:name=".TornRobin" />
        <activity android:name=".TornRondas" />
        <activity android:name=".EjerciciosMenu" />
        <activity android:name=".TorneoMenu" />
        <activity android:name=".LeccAtraccion" />
        <activity android:name=".LeccDesviacion" />
        <activity android:name=".LeccAtqRayX" />
        <activity android:name=".LeccClavada" />
        <activity android:name=".LeccAtqDesc" />
        <activity android:name=".LeccAtqDoble" />
        <activity android:name=".Lecc_resp_amenazas" />
        <activity android:name=".Lecc_conceptos" />
        <activity android:name=".lecc_intro" />
        <activity android:name=".LeccionesMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>